<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<package name="com.dy.domain" />
		<!-- <typeAlias alias="BoardVO" type="com.dy.domain.BoardVO" />
		<typeAlias type="com.dy.domain.CommentVO" alias="CommentVO" />
		<typeAlias type="com.dy.domain.MemberVO" alias="MemberVO" /> -->
	</typeAliases>

</configuration>
